* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  height: 100vh;
  background-color: #f8f8fb;
}

.parent-flex {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
}

.flex-1-nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 10vh;
  color: white;
}
.flex-1-nav h3 {
  margin-top: 1rem;
  /* margin-left: 10rem; */
}

.flex-2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 40vh;
  /* width: 100vw; */
}

.flex-2 h2 {
  text-align: center;
  font-size: 2rem;
}
.flex-2 p {
  text-align: center;
  width: 27rem;
  font-size: 15px;
  margin-top: 2rem;
}

.flex-2 .btn1 {
  background-color: blue;
  color: white;
  height: 2rem;
  border-radius: 0.5rem;
  border: 0;
  width: 9rem;
  margin-top: 2rem;
}
.flex-2 .btn2 {
  background-color: gray;
  color: white;
  height: 2rem;
  border-radius: 0.5rem;
  border: 0;
  width: 9.5rem;
}

.flex-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 3.7rem;
  margin-right: 3.7rem;
}

.flex-3 .card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 20rem;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.flex-3 .card .upper-card {
  height: 60%;
  background-color: #55595c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.flex-3 .card .lower-card {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.4rem;
  margin-top: 0.5rem;
}

.flex-3 .card .lower-card .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.flex-3 .card .lower-card .bottom .bottom-btn-1 {
  margin-right: -0.25rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 100vw; */
  height: 10vh;
  background-color: white;
}

@media screen and (max-device-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }

  .flex-2 p {
    text-align: center;
    width: 20rem;
    font-size: 11px;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
